h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration:underline;
}

#whodidit {
    font-style: italic;
    text-align: center;
}

* {
    background-color:antiquewhite;
}

.cuisines {
    color: blue;
}

.dishes {
    color: red;
}
